* {
    box-sizing: border-box;
}

body {
    background: #eee;
}

.ui {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.container {
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 5rem;
    background: #fff;
    border-radius: 8px;
}

.buttons,
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    border: 0px solid white;
    padding: 5px 10px;
    color: white;
    background: cadetblue;
    border-radius: 8px;
    font-size: 20px;
}

button:hover {
    background: blue;
}

#player,
#computer,
.winner {
    font-size: 42px;
    font-weight: 700;
}
